@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Handlee', cursive;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@layer components {
  body {
      @apply bg-gradient-to-r from-zinc-900 to-zinc-800
      }
}
